{
  "tabWidth": 4,
  "useTabs": false,
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "cursorOffset": -1,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": false,
  "trailingComma": "es5"
}