// COLORS
$color-crimson: #dc143c;
$color-navy: #00008b;
$color-silver: #cccccc;
$color-danger: #dc143c;
$color-success: limegreen;
$color-night: #111111;
$color-white: #ffffff;

// FONTS
$font-headings: "Red Hat Display", sans-serif;
$font-text: "Red Hat Mono", monospace;

// Mill.
$darken-amount: 10%;
$border-radius: 10px;
