// COLORS
$color-crimson: #dc143c;
$color-navy: #00008b;
$color-silver: #cccccc;
$color-night: #111111;
$color-white: #ffffff;

// FONTS
$font-headings: "Red Hat Display", sans-serif;
$font-text: "Red Hat Mono", monospace;
